.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.body{
  margin: 0;
}
.topnav {
  background-color: rgba(4, 168, 26, 0.5);
  overflow: hidden;
  border-radius: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(5, 133, 253);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #111;
  color: white;
}
.main-content { 
  text-align: left;
  width: 50%;
  height: 100%;
  margin: auto;
}
.left-column {
  text-align: left;
  width: 25%;
  height: 100%;
  float: left;
}
.right-column{
  float: right;
  width: 25%;
  height: 100%;
}

.left-column ul, a {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #111;
  text-decoration: none;
}

.left-column a.active {
  color: blue;
  background-color: blue;
}


input, select {
  width: 200px;
  padding: 10px 4px;
  margin: 5px 0px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
}

input[type=submit] {
  width: 20%;
  margin: 12px 0px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#persons{
  margin: 10px;
  background-color: #f1f1f175;
  width: 100%;
}

#inner-table-overview {
  width: 150px;
}
